<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>

	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="jquery-3.4.0.js"></script>
	<script src="lodash.js"></script>
	<script type="text/javascript" src="vue-truncate-collapsed.js"></script>

	<link id="stylesheet" rel="stylesheet" href="styles.css">
	
</head>
<body>

<div id="top">
	<node_outer :node="node"></node_outer>
</div>

<script type="text/javascript">
	'use strict';

	function Node(node_n3, focused_graph)
	{
		this.node_n3 = node_n3;
		this.term={short: node_n3};
		this.sources=[{msg: "loading..."}];
		this.focused_graph = focused_graph;
	}

	Vue.component('node_outer', {
		props: ['node'],
		template: `
        <span>
          <b><term :node="node"  :term="node.term"></term></b>
          properties:
          <node :node="node"/>
        </span>
		`,
		methods: {}
	});

	Vue.component('node', {
		props: ['node'],
		template: `
        <span>
          <span v-for="source in node.sources">
              <div v-if="source.msg!='loaded'">
                <small>({{ source.msg }})</small>
              </div>
          </span>
          
          <table v-if="node.props" :class="{ 'focusedGraph' : false }">
                    
                <thead>
                      <tr>
                        <th>property</th>
                        <th>value</th>
                        <th>source</th>
                      </tr>
                    </thead>
  
                <tbody>             
                      <tr v-for="prop in node.props" :key="prop.id">

                          <td :class="{ 'general' : prop.category?.fake == 'general' }">
                              <term :node="node"  :term="prop.p" :key="prop.p.id" />
                          </td>
                          <td>                           
                              <term_expandable :node="node"  :term="prop.o" :key="prop.o.id" :interesting="prop.g.uri == node.focused_graph && prop.category?.fake == 'general'"/>                              
                          </td>
                          <td :class="{ 'focusedGraph' : prop.g.uri == node.focused_graph, graph : true }">
                              <term_expandable :node="node"  :term="prop.g" :key="prop.g.id"/>
                          </td>

                      </tr>
              </tbody>
          </table>
          
          <small v-if="node.tools">
              browse {{ node.term.n3 }} also in:
              <ul>
              
                  <li  v-for="tool in node.tools">
                      <a v-bind:href="tool.url">{{ tool.label }}</a>
                  </li>   

              </ul>
          </small>
          
        </span>
		`,
		methods: {}
	});


  
 Vue.component('term_expandable', {
     props: ['term', 'node', 'interesting'],
     template: `
<div :class="{ 'expanded' : term.wtf }">
    <div :class="{ 'focusedGraphAndGeneral' : interesting }">
        <button v-if="term.literal_str || term.uri" @click="toggle_expanded" >{{ term.wtf ? '-' : ' + ' }}</button><term :term="term" :node="node"/>
    </div>
    
    <Transition>
            properties: <node v-if="term.wtf" :node="term.embedded_node" :key="term.id" />
    </Transition>
</div>          
    `,
     methods: {
         toggle_expanded: function () {
             var wtf = !this.term.wtf;
             console.log("toggle_expanded:" + wtf);
             if (wtf && !this.term.loading && !this.term.embedded_node.node_n3) 
             {
                 this.term.loading = true;
                 let n = new Node(this.term.n3, this.node.focused_graph);
                 n.term.href = this.term.href;
                 load_node_data_all(n, (e) => {this.term.loading = false;}).then(
                     () => {
                         console.log("loaded");
                         Vue.set(this.term, 'embedded_node', n);
                         this.$forceUpdate();
                         this.term.loading = false;
                     }
                 ).catch(
                     (error) => {
                         console.log("error: " + error);
                     }
                 );
    		   }
          Vue.set(this.term, 'wtf', wtf);
           this.$forceUpdate();
         }
     }
 });



Vue.component('term', {
		props: ['term', 'node'],
		// https://github.com/vuejs/vue/issues/9208
		template: `<span>
<span v-if="term?.reverse">is </span>
<span v-else-if="term?.forward">has </span><span  v-if="term === undefined"></span><span  v-else-if="term.fake !== undefined"><span>{{ term.fake }}</span></span><template v-else-if="typeof term == 'string'"><span class="identifier">{{ term }}</span></template><template v-else-if="term.literal_str !== undefined"><span><a :href="term.href + '&focused-graph=' + node.focused_graph">{{ term.literal_str }}</a></span></template><template v-else-if="term.label"><span class="identifier" ><a :href="term.href + '&focused-graph=' + node.focused_graph">{{ term.label.l }}</a></span></template><template v-else-if="term.short"><span class="identifier"><a :href="term.href + '&focused-graph=' + node.focused_graph">{{ term.short }}</a></span></template><template v-else-if="term.uri"><span class="identifier"><a :href="term.href + '&focused-graph=' + node.focused_graph">{{ term.uri }}</a></span></template>
<template v-else>
???
</template>
<span v-if="term?.reverse">
of
</span>
          </span>
		`,
		methods: {}
	});

  

	function load_node_data_all(node, fail_callback)
	{
		return Promise.all([
			load_node_data1(node.node_n3).then(
						results => {
							assign_node_data1(node, results);
							node.sources[0].msg = 'loaded';
						}
						).catch(
							(error) => {
							  node.sources[0].msg = "error: " + error;
							  fail_callback(error) 
              }
            )
		]);
	};

	function load_node_data1(node_n3) {
		return new Promise(
			function(resolve, reject)
			{
				var url = '/api/rdftab?node='+encodeURIComponent(node_n3);
				$.ajax({
					dataType: "json",
					mimeType: "application/json",
					url: url,
					success: function(data){
					    resolve(data);
					},
					error: function() {
						reject("loading "+url+" failed");
					}
				});
			}
		);
	}

	function assign_node_data1(node, result)
	{
		console.log("assign_node_data1");
		console.log(result);
		//node.props.push(result.props);
		for (var key in result) {
		  if (result.hasOwnProperty(key)) {
		    node[key] = result[key];
		  }
		}
	}
	
	const searchParams = new URLSearchParams(window.location.search);
	const node_n3 = searchParams.get('node') || '<https://rdf.lodgeit.net.au/v1/request#Result>';
	const focused_graph = searchParams.get('focused-graph');

	var vm = new Vue({
		el: '#top',
		data: {
			node: new Node(node_n3, focused_graph)
		},
		mounted: function ()
		{
			console.log( "mounted!" );
			load_node_data_all(this.node);
		}
	});
  
  
  document.addEventListener('DOMContentLoaded', (event) => {
    const link = document.getElementById('stylesheet');
    link.href = link.href + '?v=' + new Date().getTime();
  });


</script>
</body>
</html>

