body {
    overflow-y: scroll;
    white-space:nowrap;
    /*background-color: #B0D0FF;*/
}

table {
  /*background-color: #B0D0FF;*/
    border: 1px;
}

th {
    background-color: #999999;
}

tr {

}

td {
    padding: 0 10px;
    vertical-align: top;
   border-bottom: 1px solid black;
}

td.source {
   background-color: #CCCFC0;
}

td.source:hover {
  background: green;
}

.focusedGraphAndGeneral {
    background-color: #97fb55;
}

label{
    display: inline-block;
}

input {
  vertical-align:top;
  position: relative;
}

button {
   font-family: monospace;
}

.expandable {
    border-width: 0.1em;
    border-style: hidden;

}

.expanded {
    border-style: solid;
    
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
